
<div>
<div class="box">
      <h6 class="first">title</h6>
      <input id="input" type="text" [(ngModel)]="title" class="full-width" pInputText>
    </div>

    <div class="box">
      <h6 class="first">date</h6>
      <p-calendar [(ngModel)]="date" ></p-calendar>

    </div>
    <div class="box">
      <h6 class="first">Assign</h6>
      <select class="form-control" [(ngModel)]="userId">
          <option *ngFor="let user of users" [value]="user.Id">{{user.firstName}} {{user.Lastname}}</option>
        </select>    </div>
    <div class="box" >
      <h6 class="first">Description</h6>
      <textarea pInputTextarea [(ngModel)]="description"></textarea>
    </div>
   
    <div class="p-grid pt-3 ">
      <div class="p-col-12 text-align-right ">
      </div>
    </div>
    
    <button  pButton type="button" [label]="btnTxt" class="ui-button-raised " 
    (click)="task()"></button>
</div>
    

 
