 <div class="content-section implementation">

  <form [formGroup]="addUserform" (ngSubmit)="userLogin()">
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">
        <h5 class="first">First name</h5>
        <input id="input" type="text" formControlName="firstname" class="full-width" pInputText>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">
        <h5 class="first">Last name</h5>
        <input id="input" type="text" formControlName="lastname" class="full-width" pInputText>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">
        <h5 class="first">Email</h5>
        <input id="email" type="email" formControlName="email" class="full-width" pInputText>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">
        <h5 class="first">Password</h5>
        <input id="Password" formControlName="password" type="password" class="full-width" pInputText>
      </div>

    </div>

    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">
        <h5 class="first">Phone</h5>
        <input id="" type="text" formControlName="phone" class="full-width" pInputText>
      </div>
    </div>


    <div class="p-col-12 p-md-6 p-lg-3 ">
      <div class="box">
        <button pButton type="submit" label="Save"></button>

      </div>
    </div>
  </form>
</div> 

 

