
  <form [formGroup]="addUserform" (ngSubmit)="userLogin()">
    <div class="box">
      <h6 class="first">First name</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>

    <div class="box">
      <h6 class="first">Last name</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
    <div class="box">
      <h6 class="first">Email</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
    <div class="box">
      <h6 class="first">Password</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
    <div class="box">
      <h6 class="first">Phone</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>



  </form>
  <p-footer>
      <button pButton type="button" label="Primary" class="ui-button-raised"></button>

  </p-footer>
