<div class="container">
  <br>  <h2 class="text-center"> Assign Schedule</h2>
  <hr>
  
  
  
  
  
  <div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Task</h4>
   
    
    <form [formGroup]="addtask" (ngSubmit)= "assigntask()" >
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Tittle" formControlName="title" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
      </div>
     
      <select class="form-control" formControlName="assignTo">
          <option *ngFor="let user of list" [value]="user.Id">{{user.Firstname}}  {{user.Lastname}}</option>
        </select>    
        </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-date"></i> </span>
      </div>
     
        <input name="" class="form-control" placeholder="Date" type="date" formControlName="date">
      </div>
     <!-- form-group end.// -->
     <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>

     </div>
     <textarea class="form-control" rows="5" id="comment" placeholder="Task Description...." formControlName="description"></textarea>
     <!-- <input name="" class="form-control" placeholder="Discription" type="text"  formControlName="discription"> -->
    </div> <!-- form-group// -->
     




      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Assign  </button>
      </div> <!-- form-group// -->      
  </form>
  </article>
  </div> <!-- card.// -->
  
  </div> 
  