<!-- <div class="p-grid p-dir-col ">
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="ui-g-12 ">
     
          <h5 class="first">First name</h5>
          <input id="input" type="text" size="80" pInputText > 
     
    </div>

  </div>
  <div class="p-col-12 p-md-6 p-lg-3 ">
    <div class="ui-g-12  ">
        <h5 class="first">Last name</h5>
        <input id="input" type="text"  pInputText > 
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="ui-g-12 ui-md-4">
        <h5 class="first">Email</h5>
        <input id="input" type="text" size="80" pInputText > 
    </div>
  </div>

  <div class="p-col">
    <div class="ui-g-12 ">
        <h5 class="first">passsword</h5>
          <input id="input" type="text" size="80" pInputText > 
    </div>
  </div>

  <div class="p-col">
    <div class="ui-g-12 ">

        <h5 class="first">Basic</h5>
        <input id="input" type="text" size="80" pInputText > 
    </div>
  </div>



</div> -->










<form [formGroup]="addUserform" (ngSubmit)= "userLogin()" >
<div class="content-section implementation">
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="box">
      <h5 class="first">First name</h5>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="box">
      <h5 class="first">Last name</h5>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="box">
      <h5 class="first">Email</h5>
      <input id="email" type="email" class="full-width" pInputText>
    </div>
  </div>
  <div class="p-col-12 p-md-6 p-lg-3">
    <div class="box">
        <h5 class="first">Password</h5>
      <input id="Password" type="password" class="full-width" pInputText>
    </div>

  </div>

  <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">
        <h5 class="first">Phone</h5>
        <input id="" type="text" class="full-width" pInputText>
      </div>
    </div>


    <div class="p-col-12 p-md-6 p-lg-3 ">
        <div class="box">
            <button pButton type="button" label="Primary"></button>

      </div>
   
</div>
</form>