 <div class="content-section implementation">

  <form [formGroup]="addUserform" (ngSubmit)="userLogin()">
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="box">
        <h5 class="first">Title</h5>
        <input id="input" type="text" formControlName="firstname" class="full-width" pInputText>
      </div>
    </div>
     <div class="p-col-12 p-md-6 p-lg-3"> 
      <div class="box">
        <h5 class="first">Description</h5>
        <textarea class="Description-input" pInputTextarea></textarea>
      </div>
      </div>
      <button pButton type="button" icon="pi pi-check" [disabled]="true" label="Disabled"></button>
   
  </form>
</div> 

 

