<div class="container">
  <br>  <h2 class="text-center"> User Ragistration</h2>
  <hr>
  
  
  
  
  
  <div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
   
    
    <form [formGroup]="addUserform" (ngSubmit)= "userLogin()" >
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="First Name" formControlName="firstname" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Last Name" type="email"  formControlName="lastname">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
      </div>
     
        <input name="" class="form-control" placeholder="Email Address" type="text"  formControlName="email">
      </div> <!-- form-group// -->
    
     <!-- form-group end.// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input class="form-control" placeholder="Create password" type="password"  formControlName="password">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-vcard"></i> </span>
      </div>
          <input class="form-control" placeholder="CNIC" type="number"  formControlName="cnic">
      </div> <!-- form-group// -->  
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
      </div>
          <input class="form-control" placeholder="Phone " type="number"  formControlName="phone">
      </div> <!-- form-group// -->  
      
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class=" fa fa-address-card" aria-hidden="true"></i> </span>
      </div>
          <input class="form-control" placeholder="Address" type="text"  formControlName="address">
      </div> <!-- form-group// -->  
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
      </div> <!-- form-group// -->      
  </form>
  </article>
  </div> <!-- card.// -->
  
  </div> 
  
