<div class="content-section introduction">

    <div class="p-grid">
        <div class="p-col-6">
            <h4 class="feature-title">Tasks & Tracking</h4>
        </div>
        <div class="p-col-6 text-right">
            <!-- <button (click)="show()" pButton type="button" label="back"
              class="ui-button-rounded p-col-align-end"></button> -->
        </div>

    </div>

</div>






<div class="ui-g">
    <div class="ui-sm-12 ui-md-5 ui-lg-5">
        <div class="ui-g-4">
            Date
        </div>
        <div class="ui-g-4">
            <p-calendar [(ngModel)]="date1" placeholder="Select a Date" selectionMode="range" [readonlyInput]="true">
            </p-calendar>
        </div>
    </div>
    <div class="ui-sm-12 ui-md-5 ui-lg-5">
        <div class="ui-g-4">
            Rider List
        </div>
        <div class="ui-g-4">


            <p-dropdown [options]="users" optionLabel="firstName" [(ngModel)]="userId" filter="true">

            </p-dropdown>
        </div>
    </div>
    <div class="ui-sm-12 ui-md-2 ui-lg-2">
        <button pButton type="button" label="Search" (click)="getAttendance()"
            class="ui-button-rounded track-save-btn"></button>

    </div>
</div>





<div class="p-grid search-part-grid ">

    <div class="p-col-12 p-col-align-center">
        <div class="box">

            <app-map [isListrender]="isListrender" [attendanceRowData]="attendanceRowData"
                (mapEvent)="sendMaptoParent()"></app-map>

        </div>

    </div>

</div>


<app-filterlist [userAttendance]="userAttendance" (attendanceEvent)="attendanceEvent($event)"></app-filterlist>