.text-right{
  float: right;
}



@media only screen and (min-width: 992px)
{
 

.list
{
position: relative;
bottom: 10px;
}
}


@media only screen and (max-width: 992px)
{
  .search-part-grid
  {
    text-align: center;
  }

}


.track-save-btn
{
  text-align: center;

}
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
drag-scroll {
  height: 300px;
  width: 100%;
}
img {
  height: 50px;
  width: 50px
}