<div class="part1">
  <div class="front_back">
  <img class="ims" src="assets\images\front_end\Background.png " width="100%" height="500px">
  </div>
  <div class="container"> 
  <div class="section2">
  <h2 class="hea1">choose a better way to chase <br>whom you want </h2>
  <br>
  <button  type="button" class="btn btn-light btn1"  (click)="check()">Log in</button>
  <button  type="button" class="btn btn-light btn2" [routerLink]="['registration']"  >Sign Up</button>
  <div class="ims">
  <img  class="ims1" src="assets\images\front_end\mobileh.png"width= "200px" >
   </div>
  </div>
  </div>
  </div>
   <!-- <div class="part2">
      <div class="container-fluid c2">
      <h1 class="hea2">More Feature in App</h1>
      
       <div class="section3">
          <div class="float-left"><img  class="ims4" src="assets\images\front_end\Screen 2.png"width= "350px" ></div><br>
          <div class="box">
            <div class="box1">
                <div class="style_prevu_kit" style="background-color:#F8F8F8">
                <h3 class="txt1">text</h3></div>
          </div>
          <div class="box2">
              <div class="style_prevu_kit" style="background-color:#F8F8F8">
               <h3 class="txt1">text</h3></div>
        </div>
        <div class="box3">
            <div class="style_prevu_kit" style="background-color:#F8F8F8">
          <h3 class="txt1">text</h3></div>
      </div>
      <div class="box4">
          <div class="style_prevu_kit" style="background-color:#F8F8F8">
          <h3 class="txt1">text</h3></div>
    </div>
      </div>
  </div> 
  </div>
  </div>  -->
  
  