<div class="layout-wrapper">
       
  <div id="layout-topbar" *ngIf="userLoggedIn">
      <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
          <i class="pi pi-bars"></i>
      </a>

      <a href="#" class="logo" [routerLink]="['/']">
          <!-- <img alt="logo" src="assets/showcase/images/logo.png" /> -->
      </a>

      <ul class="topbar-menu">
          <li>
              <a href="#" [routerLink]="['/setup']">GET STARTED</a>
          </li>
          <li class="topbar-menu-themes">
              <a href="#">THEMES</a>
              <ul>
                  <li class="topbar-submenu-header">THEMING</li>
                  <li><a [routerLink]="['./theming']"><span class="topbar-submenu-icon fa fa-book"></span>Guide</a></li>
                  <li><a href="https://www.primefaces.org/designer/primeng"><span class="topbar-submenu-icon fa fa-paint-brush"></span>Designer <span class="menuitem-badge">NEW</span></a></li>
                  <li><a [routerLink]="['./icons']"><span class="topbar-submenu-icon fa fa-info-circle"></span>Icons <span class="menuitem-badge">NEW</span></a></li>
                  <li class="topbar-submenu-header">PREMIUM</li>
                  <li><a href="http://www.primefaces.org/layouts/sapphire-ng"><img src="assets/showcase/images/themeswitcher-sapphire.png" alt="Sapphire (Material)"><span class="ui-text">Sapphire <span class="theme-badge material">material</span></span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/avalon-ng"><img src="assets/showcase/images/themeswitcher-avalon.png" alt="Avalon (Bootstrap)"><span class="ui-text">Avalon <span class="theme-badge bootstrap">bootstrap</span></span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/serenity-ng"><img src="assets/showcase/images/themeswitcher-serenity.png" alt="Serenity (Material)"><span class="ui-text">Serenity <span class="theme-badge material">material</span></span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/ultima-ng"><img src="assets/showcase/images/themeswitcher-ultima.png" alt="Ultima (Material)"><span class="ui-text">Ultima <span class="theme-badge material">material</span></span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/barcelona-ng"><img src="assets/showcase/images/themeswitcher-barcelona.png" alt="Barcelona (Material)"><span class="ui-text">Barcelona <span class="theme-badge material">material</span></span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/babylon-ng"><img src="assets/showcase/images/themeswitcher-babylon.png" alt="Babylon"><span class="ui-text">Babylon </span><span class="menuitem-badge">NEW</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/roma-ng"><img src="assets/showcase/images/themeswitcher-roma.jpg" alt="Roma"><span class="ui-text">Roma </span><span class="menuitem-badge">NEW</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/olympia-ng"><img src="assets/showcase/images/themeswitcher-olympia.png" alt="Olympia"><span class="ui-text">Olympia </span><span class="menuitem-badge">NEW</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/california-ng"><img src="assets/showcase/images/themeswitcher-california.png" alt="Harmony"><span class="ui-text">California </span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/ecuador-ng"><img src="assets/showcase/images/themeswitcher-ecuador.png" alt="Ecuador"><span class="ui-text">Ecuador </span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/apollo-ng"><img src="assets/showcase/images/themeswitcher-apollo.png" alt="Apollo"><span class="ui-text">Apollo</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/manhattan-ng"><img src="assets/showcase/images/themeswitcher-manhattan.png" alt="Manhattan"><span class="ui-text">Manhattan</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/harmony-ng"><img src="assets/showcase/images/themeswitcher-harmony.png" alt="Harmony"><span class="ui-text">Harmony</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/verona-ng"><img src="assets/showcase/images/themeswitcher-verona.png" alt="Verona"><span class="ui-text">Verona</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/paradise-ng"><img src="assets/showcase/images/themeswitcher-paradise.png" alt="Paradise"><span class="ui-text">Paradise</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/morpheus-ng"><img src="assets/showcase/images/themeswitcher-morpheus.png" alt="Morpheus"><span class="ui-text">Morpheus</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/atlantis-ng"><img src="assets/showcase/images/themeswitcher-atlantis.png" alt="Atlantis"><span class="ui-text">Atlantis</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/poseidon-ng"><img src="assets/showcase/images/themeswitcher-poseidon.png" alt="Poseidon"><span class="ui-text">Poseidon</span></a></li>
                  <li><a href="http://www.primefaces.org/layouts/omega-ng"><img src="assets/showcase/images/themeswitcher-omega.png" alt="Omega"><span class="ui-text">Omega</span></a></li>
                  <li class="topbar-submenu-header" style="margin-top:16px">FREE</li>
                  <li><a href="#" (click)="changeTheme($event, 'nova-light', false)"><img src="assets/showcase/images/themeswitcher-nova-light.png" alt="Nova Light"><span class="ui-text">Nova Light</span></a></li>
                  <li><a href="#" (click)="changeTheme($event, 'nova-dark', false)"><img src="assets/showcase/images/themeswitcher-nova-dark.png" alt="Nova Dark"><span class="ui-text">Nova Dark</span></a></li>
                  <li><a href="#" (click)="changeTheme($event, 'nova-colored', false)"><img src="assets/showcase/images/themeswitcher-nova-colored.png" alt="Nova Colored"><span class="ui-text">Nova Colored</span></a></li>
                  <li><a href="#" (click)="changeTheme($event, 'luna-amber', true)"><img src="assets/showcase/images/themeswitcher-luna-amber.png" alt="Luna Amber"><span class="ui-text">Luna Amber</span></a></li>
                  <li><a href="#" (click)="changeTheme($event, 'luna-blue', true)"><img src="assets/showcase/images/themeswitcher-luna-blue.png" alt="Luna Blue"><span class="ui-text">Luna Blue</span></a></li>
                  <li><a href="#" (click)="changeTheme($event, 'luna-green', true)"><img src="assets/showcase/images/themeswitcher-luna-green.png" alt="Luna Green"><span class="ui-text">Luna Green</span></a></li>
                  <li><a href="#" (click)="changeTheme($event, 'luna-pink', true)"><img src="assets/showcase/images/themeswitcher-luna-pink.png" alt="Luna Pink"><span class="ui-text">Luna Pink</span></a></li>
                  <li><a href="#" (click)="changeTheme($event, 'rhea', false)"><img src="assets/showcase/images/themeswitcher-rhea.png" alt="Luna Pink"><span class="ui-text">Rhea</span></a></li>
              </ul>
          </li>
          <li>
              <a [routerLink]="['/support']">SUPPORT</a>
          </li>
          <li class="topbar-menu-versions">
              <a href="#">v7</a>
              <ul>
                  <li><a href="http://www.primefaces.org/primeng-6.1.6">v6</a></li>
                  <li><a href="http://www.primefaces.org/primeng-5.2.7">v5</a></li>
                  <li><a href="http://www.primefaces.org/primeng-4.3.0">v4</a></li>
              </ul>
          </li>
      </ul>
  </div> 
  <div id="layout-sidebar" [ngClass]="{'active': menuActive}" *ngIf="userLoggedIn">
      <div class="layout-menu">
          
         

          <a id="button_menutitle" #buttonmenutitle [class.active-menuitem]="buttonmenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === buttonmenutitle.id ? null : buttonmenutitle.id)">
              <img src="assets/showcase/images/icons/button-active.svg" class="layout-menu-icon-active"/>
              <img src="assets/showcase/images/icons/button.svg" class="layout-menu-icon-inactive"/>
              <span>USERS</span>
          </a>
          <div [ngClass]="{'submenushow': (buttonmenutitle.id == activeMenuId), 'submenuhide': (buttonmenutitle.id != activeMenuId)}">
              <a [routerLink]="['/users']" (click)="menuActive = false">&#9679; Button</a>
              <a [routerLink]="['/splitbutton']" (click)="menuActive = false">&#9679; SplitButton</a>
          </div>

        

        

        

        

         

       
         

         

         

        
      </div>
  </div>

  <div class="layout-mask" *ngIf="menuActive">
  </div>

  <div [ngClass]= "{'layout-content': userLoggedIn}">
      <div>
          <router-outlet></router-outlet>
      </div>

 
</div>