
<div class="part6">
  <img class="im2"  src="assets\images\front_end\Background Footer.png" width="100%" height="500px;">
  <div class="container pc5">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 ty">
      <img class="part6im1" src="assets\images\front_end\Screen 3.png" width="200px">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 th">
          <div class="p5">
          <h2 class="hea9">now available</h2><br>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p><br>
          <a href=""><img  src="assets\images\front_end\Download App Store.png" width="150px"></a>
          <a href=""><img  src="assets\images\front_end\Download Play Store.png" width="150px"></a> 
        </div>
          
        </div>
        
      </div>
    </div>
  </div>