
  <form [formGroup]="addUserform"  (ngSubmit)="userAddEdit()">
    <div class="ui-fluid">
        <div class="box">
            <h6 class="first">First name</h6>
            <input id="input" type="text" formControlName="firstname" class="full-width" pInputText>
          </div>
      
          <div class="box">
            <h6 class="first">Last name</h6>
            <input id="input" type="text" class="full-width" formControlName="lastname" pInputText>
          </div>
          <div class="box">
            <h6 class="first">Email</h6>
            <input id="input" type="email" formControlName="email" class="full-width" pInputText>
          </div>
          <div class="box" *ngIf="isEdit">
            <h6 class="first">Password</h6>
            <input id="input" type="password" class="full-width" formControlName="password" pInputText>
          </div>
          <div class="box">
            <h6 class="first">Phone</h6>
              <p-inputMask formControlName="phone" mask="99999999999" ></p-inputMask>
            <!-- <input id="input" type="number" class="full-width" formControlName="phone" pInputText> -->
          </div>
       
    </div>
   
    <div class="p-grid pt-3 ">
      <div class="p-col-12 text-align-right ">
      <button  pButton type="submit" [disabled]="addUserform.invalid" [label]="btnTxt" class="ui-button-raised "></button>
    </div>
  </div>
  

    

  </form>
 
