
    <div class="introo">
      <div class="container">
    
    <div class="row   r2">
        <div class="col-xl-6 col-lg-6 col-sm-12 justify-content-start left">
          <h3 class="hea3">stable and ready</h3>
          
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-12 justify-content-start rightt0">
            <div class="box">
                <h3 class="hea7">made with love</h3>
                <div class="zoomin">
                <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              
                </div>
         </div>
         
        </div>
    </div>
    <div class="row r2">
          <div class=" col-xl-6 col-lg-6 col-sm-12 left">
            <!-- <h2 class="hea3">stable and ready</h2> -->
          
            <p class="p1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
            
          </div>
          <div class="col-xl-6 col-lg-6 col-sm-12 rightt1">
              <div class="box">
                  <h3 class="hea7">free of use</h3>
                  <div class="zoomin">
                  <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                
                  </div>
           </div>
           
          </div>
    </div>
    <div class="row r2">
              <div class="col-xl-6 col-lg-6 col-sm-12 left">
                  <a href=""><button  type="button" class="btn btn-warning btn3">Download Free</button></a>
                
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12 rightt2">
                  <div class="box">
                      <h3 class="hea7">fully support available</h3>
                      <div class="zoomin">
                      <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                      <!-- <button></button> -->
                    
                      </div>
               </div>
               
              </div>
    </div>
    <div class="row r2">
        <div class="col-xl-6 col-lg-6 col-sm-12 left">
          <!-- <h2 class="hea3">stable and ready</h2> -->
        
          <!-- <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p> -->
          
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-12 rightt3">
            <div class="box">
                <h3 class="hea7">flat and modern ui and ux</h3>
                <div class="zoomin">
                <p class="para">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
              
                </div>
         </div>
         
        </div>
</div>
</div>
        
     
</div> 

    
  