
  <div class="intro">
    <h1 class="hea3">More Feature in App</h1>
  <div class="container pc3">
   
  <div class="row justify-content-center">
    <div class=" col-xl-6 col-lg-6  col-md-6 col-sm-12 left">
      <img  class="ims4" src="assets\images\front_end\Screen 2.png"width= "350px" >
    </div>
   

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 right">


      <ul class="uul">
        
          <li class="box1"><div class="style_prevu_kit" style="background-color:#FFFFFF">
            <h3 class="txt1">attendence<br>marketing</h3></div> </li>
            <li class="box2"><div class="style_prevu_kit" style="background-color:#FFFFFF">
              <h3 class="txt1">live<br>tracking</h3></div> </li>
              <li class="box3"><div class="style_prevu_kit" style="background-color:#FFFFFF">
                <h3 class="txt1">assignmit<br> issuance</h3></div> </li>
                <li class="box4"><div class="style_prevu_kit" style="background-color:#FFFFFF">
                  <h3 class="txt1">personal<br>notes</h3></div> </li>

      </ul>
      
      </div>
      
    
    </div>
    
      
    </div>





    </div>
 

  

    <div class="wholee">
        <h1 class="hea35">More Feature in App</h1>
      <div class="container v8">
          <div class="row r1">
          <div class="col-xl-3 col-md-3">
           
          
      <div class="box">
      
      <h2 class="m1">attendence<br>marketing</h2>
      <div class="zoomin">
 
      </div>
      </div>
      </div>
          <div class="col-xl-3 col-md-3">
         
          
      <div class="box">
          
      <h2 class="m1">live<br>tracking</h2>
      <div class="zoomin">

      </div>
      </div>
      </div>
          <div class="col-xl-3 col-md-3">
            
          
      <div class="box">
      
          
      
      <h2 class="m1">assignmit<br> issuance</h2>
      <div class="zoomin">
  
      </div>
      </div>
      </div>
          <div class="col-xl-3 col-md-3">
            
          
      <div class="box">
      
      
      <h2 class="m1">personal<br>notes</h2>
      <div class="zoomin">
     
      </div>
      </div>
      </div>
          </div>
          
    
          
          
      </div>
      </div>