<div class="content-section introduction">

  <div class="p-grid">
    <div class="p-col-6">
      <h4 class="feature-title">Assign Task</h4>
    </div>
    <div class="p-col-6 text-right">
      <button (click)="show()" pButton type="button" label="ADD" class="ui-button-rounded p-col-align-end"></button>
    </div>

  </div>

</div>
<div class="content-section implementation ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-4">
      <div class="ui-g-4 ui-md-2"> User </div>
      <div class="ui-g-8 ui-md-8">
        <p-dropdown [options]="users" placeholder="Select a User" optionLabel="firstName" [(ngModel)]="userId">
        </p-dropdown>
      </div>
    </div>


    <div class="ui-g-12 ui-md-4">
      <div class="ui-g-4 ui-md-4">
        Date Range
      </div>
      <div class="ui-g-8 ui-md-8">
        <p-calendar [(ngModel)]="date1"  placeholder="Select a Date" selectionMode="range" [readonlyInput]="true"></p-calendar>
      </div>
    </div>


    <div class="ui-g-12 ui-md-2">
      <div class="ui-g-12">
        <button pButton label="View" type="button" (click)=List()></button>
      </div>
    </div>

  </div>

  <!-- <div class="p-grid pt-3 "> -->
  <!-- <div class="p-col-4">
      <div class="box">
        User :
        <p-dropdown [options]="users" placeholder="Select a User" optionLabel="firstName" [(ngModel)]="userId">
        </p-dropdown>
      </div>
    </div> -->
  <!-- <div class="p-col-3">
      <div class="box">
        Range : <p-calendar [(ngModel)]="date1"></p-calendar>

      </div>
    </div> -->


  <!-- <div class="p-col-3">
            <div class="box">
              TO <p-calendar [(ngModel)]="date2"></p-calendar>
      
            </div>
          </div> -->
  <!-- <div class="p-col">
      <div class="box">
        <button pButton type="button" icon="pi pi-check" label="View" (click)=List()></button>

      </div>
    </div> -->
  <!-- </div> -->
</div>



<p-table class="content-section implementation ui-fluid" [rowsPerPageOptions]="[10,20,30]" [responsive]="true"
  [value]="view" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <!-- <th>S.no</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th> -->


      <th style="width: 4em;">S.no</th>
      <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon>
      </th>
      <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon>
      </th>
      <th style="width: 20em;" pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon>
      </th>
      <th pSortableColumn="userId">User <p-sortIcon field="userId"></p-sortIcon>
      </th>
      <th>Action </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-view let-rowIndex="rowIndex">
    <tr>
      <td><span class="ui-column-title">S.no</span>{{rowIndex + 1}}</td>
      <td>{{view.date}}</td>
      <td>{{view.title}}</td>
      <td>{{view.description}}</td>
      <td>{{view.user.firstName}}</td>

      <td> <button pButton type="button" label="Edit" (click)="show(view)" class="ui-button-rounded"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns *ngIf="view.length < 0">
    <tr>
      <td [attr.colspan]="columns.length">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>





<!-- <p-dialog header="Title" [(visible)]="display" [contentStyle]="{'height':'500px'}" [contentStyle]="{'overflow':'visible'}">
  <p-header>
    Header content here
  </p-header>
  <form [formGroup]="addUserform" (ngSubmit)="userLogin()">
    <div class="box">
      <h6 class="first">First name</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>

    <div class="box">
      <h6 class="first">Last name</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
    <div class="box">
      <h6 class="first">Email</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
    <div class="box">
      <h6 class="first">Password</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>
    <div class="box">
      <h6 class="first">Phone</h6>
      <input id="input" type="text" class="full-width" pInputText>
    </div>



  </form>
  <p-footer>

  </p-footer>
</p-dialog> -->